/*
 Theme Name:     Wedding Suite Child
 Theme URI:      http://webnus.biz/themes/weddingsuite/
 Description:    Wedding Suite Child Theme
 Author:         WEBNUS
 Author URI:     http://themeforest.net/user/WEBNUS
 Template:       wedding-wp
 Version:        1.0.5
*/

@import url("../wedding-wp/style.css");

/* =Theme customization starts here
-------------------------------------------------------------- */
